---
const personalImageAlt = "David Monta침o";
import Badge from "../components/Badge.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import MailIcon from "../components/icons/Mail.astro";
import SocialPill from "../components/SocialPill.astro";
import Document from "./icons/Document.astro";
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <img class="rounded-full shadow-lg size-16" src="/pp.webp" alt="photo" />
    <a
      href="https://www.linkedin.com/in/davidmonta%C3%B1o25/"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Disponible para trabajar</Badge>
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    Hola, soy David
  </h1>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
  >
    +2 a침os de experiencia. <strong>Desarrollador Web</strong> de Lima, Per칰 游왫릖.
    Especializado en la parte de rendimiento para brindar la mejora en la experiencia
    del usuario.
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="mailto:xaviermg2504@gmail.com">
      <MailIcon class="size-4" />
      Cont치ctame
    </SocialPill>
    <SocialPill href="https://www.linkedin.com/in/davidmonta%C3%B1o25/">
      <LinkedInIcon class="size-7" />
      LinkedIn
    </SocialPill>
    <SocialPill
      href="#"
      onclick="descargarPDF()"
    >
      <Document class="size-4" />
      Descargar CV
    </SocialPill>
  </nav>
</div>

<script>
  function descargarPDF() {
    // Ruta del archivo PDF
    var rutaPDF = "/public/CV - Monta침o Garc칤a.pdf";
    
    // Crear un elemento <a> temporal para descargar el PDF
    var link = document.createElement("a");
    link.href = rutaPDF;
    link.download = "CV - Monta침o Garc칤a.pdf";
    
    // Simular el clic en el enlace temporal
    document.body.appendChild(link);
    link.click();
    document.body.removeChild(link);
    
    // Abrir el PDF en una nueva pesta침a
    window.open(rutaPDF, '_blank');
  }
  </script>
